* {
  font-family: Helvetica;
  text-align: center;
}

.flatiron {
  background-image: url(../images/the-flatiron-building.jpg);
  color: white;
  padding-top: .25em;
  padding-bottom: .25em;
}

.btn_nav {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
  color: gray;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
  padding-left: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
}
